# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Font-end
# dependencies
/Fe/node_modules
/Fe/.pnp
/Fe/.pnp.js

# testing
/Fe/coverage

# production
/Fe/build

# development
/Fe/webpack_cache

# misc
/Fe/.DS_Store
/Fe/.env.local
/Fe/.env.development.local
/Fe/.env.test.local
/Fe/.env.production.local

/Fe/npm-debug.log*
/Fe/yarn-debug.log*
/Fe/yarn-error.log*
