.scroll_box {
    overflow-y: scroll;
    position: relative;
    // height: 500px;
    height: 100vh;
}

.scroll_hold {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
}

.list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

li {
    width: 100%;
    list-style: none;
    padding: 5px;
}
